@charset "UTF-8";
@font-face {
  font-family: 'HollandOld';
  src: url(../font/HollandOld.otf); }

:root {
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho", "Droid Sans", serif;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  background-color: #f7f7f7;
  overscroll-behavior-y: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.main {
  margin-bottom: 80px; }

.container {
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
  padding: 0 32px; }

.container__inner {
  margin-top: 56px; }

.container-single {
  width: 100%;
  max-width: 938px;
  margin: 0 auto;
  padding: 0 32px; }

.content-header {
  width: 100%;
  margin-bottom: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center center; }

.content-header__title {
  margin-top: 100px;
  margin-bottom: 48px;
  text-align: center;
  color: #fff; }

.content-header__title--en {
  font-family: HollandOld;
  font-weight: 100;
  margin: 0;
  font-size: 56px;
  font-size: 5.6rem;
  line-height: 1; }

.content-header__title--ja {
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff; }

.content-header--style {
  background-image: url("../images/bg_style_header.jpg"); }

.content-header--news {
  background-image: url("../images/bg_news_header.jpg"); }

.content-header--gallery {
  background-image: url("../images/bg_gallery_header.jpg"); }

@media (min-width: 980px) {
  .content-header {
    height: 480px; }
  .content-header__title {
    margin-top: 84px;
    margin-bottom: 0; }
  .content-header__title--en {
    font-size: 11.2rem;
    line-height: 1.4; }
  .content-header__title--ja {
    font-size: 1.8rem; } }

.footer-top {
  position: fixed;
  bottom: 16px;
  right: 8px;
  color: #fff;
  font-size: 10px;
  font-size: 1rem; }

@media (min-width: 980px) {
  .footer-top {
    right: 24px;
    font-size: 1.2rem; } }

.footer {
  margin-right: 16px;
  margin-bottom: 64px;
  text-align: right;
  font-size: 8px;
  color: #323232; }

@media (min-width: 980px) {
  .footer {
    margin-right: 32px;
    font-size: 1.2rem; } }

.header--single {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 72px;
  padding: 24px 0 0 16px; }

.header--single__logo {
  color: #1a1a1a; }

.header--single__logo-svg {
  transition: all 0.3s;
  width: 150px; }

@media (min-width: 980px) {
  .header--single {
    padding: 24px 0 0 32px; }
  .header--single__logo-svg {
    width: 200px; } }

.header--top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997; }

.header--top__logo {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  color: #fff;
  margin-top: -16px; }

.header--top__logo-svg {
  transition: all 0.3s;
  width: 150px; }

@media (min-width: 980px) {
  .header--top {
    padding: 24px 0 0 32px; }
  .header--top__logo-svg {
    width: 200px; } }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0 24px 16px;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997; }

.header__logo {
  color: #fff; }

.header__logo-svg {
  transition: all 0.3s;
  width: 150px;
  height: 15.5px; }

.header__link {
  transition: all 0.5s; }

.header__link:hover {
  opacity: .6;
  transition: all 0.5s; }

@media (min-width: 980px) {
  .header {
    padding: 24px 0 24px 32px; }
  .header__logo-svg {
    width: 200px;
    height: 21px; } }

.masonry {
  margin-bottom: 1.6em; }

.masonry__item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
  float: left; }

.masonry__item img {
  margin: 0;
  vertical-align: bottom; }

@media (min-width: 980px) {
  .masonry__item {
    width: 32%;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
    float: left; }
  .masonry__item img {
    margin: 0;
    vertical-align: bottom; } }

.list-page-news__item {
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0; }

.list-page-news__item:last-child {
  border-bottom: none; }

.list-page-news__link {
  transition: all .5s;
  color: #1a1a1a; }

.list-page-news__link:hover {
  transition: all .5s;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.list-page-news__date {
  font-size: 16px;
  font-size: 1.6rem; }

.list-page-news__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  max-height: 51.2px;
  overflow: hidden;
  position: relative; }

.list-page-news__text {
  margin-top: 0;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6; }

@media (min-width: 980px) {
  .list-page-news__item {
    margin-bottom: 16px; }
  .list-page-news__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .list-page-news__date {
    padding-right: 40px; }
  .list-page-news__text {
    font-size: 1.4rem;
    line-height: 1.8; } }

.list-style {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 48px; }

.list-style__article {
  background-color: #fff;
  margin-bottom: 16px; }

.list-style__item {
  width: 100%; }

.list-style__item:last-child .works__sublist {
  margin-bottom: 0; }

.list-style__link {
  transition: all .5s;
  display: block;
  color: #1a1a1a; }

.list-style__link:hover {
  transition: all .5s;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.list-style__image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover; }

.list-style__contents {
  padding: 24px;
  min-height: 200px; }

.list-style__date {
  color: #b8b8b8;
  font-size: 12px;
  font-size: 1.2rem; }

.list-style__title {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.7; }

.list-style__text {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8; }

@media (min-width: 980px) {
  .list-style {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .list-style__item {
    width: 32.3%;
    margin-right: 1.5%; }
  .list-style__item:nth-child(3n) {
    margin-right: 0; }
  .list-style-image {
    height: 230px;
    margin-bottom: 20px; }
  .list-style__contents {
    padding: 24px 16px;
    min-height: 200px; } }

.load {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 9999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 1s; }

.load__wrap {
  text-align: center; }

.load__logo {
  display: block;
  width: 120px;
  margin-bottom: 16px; }

.load__num {
  display: block; }

.nav--single {
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 32px; }

.nav--single__list {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none; }

.nav--single__list-item {
  margin-right: 32px; }

.nav--single__list-item_line {
  border-left: 1px solid #1a1a1a;
  padding-left: 32px; }

.nav--single__list-link {
  transition: all .5s;
  color: #1a1a1a; }

.nav--single__list-link:hover {
  transition: all .5s;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.nav--single__list-line {
  position: absolute;
  bottom: -8px;
  height: 1px;
  background-color: #1a1a1a; }

.nav-slider {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem; }

.nav-slider__list-item {
  margin-bottom: 32px; }

.nav-slider__link {
  color: #fff;
  padding-bottom: 6px; }

.nav-slider__link:hover {
  opacity: .6;
  transition: all .5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.nav-slider__link.is-active {
  border-bottom: 1px solid #fff; }

.nav-slider .nav-footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  margin-bottom: 32px; }

.nav-slider .nav-footer__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 32px; }

.nav-slider .nav-footer__sns-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.nav-slider .nav-footer__link {
  color: #fff; }

.nav-slider .nav-footer__link:hover {
  opacity: .6;
  transition: all .5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

@media (max-width: 374px) {
  .nav-slider {
    padding-top: 32px; }
  .nav-slider .nav-footer {
    margin-bottom: 16px; } }

/* IE11 のみ適用される */
_:-ms-lang(x)::-ms-backdrop, .nav-footer__list-item {
  width: 50%; }

_:-ms-lang(x)::-ms-backdrop, .nav-footer__sns-list-item {
  width: 50%; }

.nav {
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 32px; }

.nav__list {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none; }

.nav__list-item {
  margin-right: 32px; }

.nav__list-item_line {
  border-left: 1px solid #fff;
  padding-left: 32px; }

.nav__list-link {
  color: #fff;
  transition: all .5s; }

.nav__list-link:hover {
  color: rgba(255, 255, 155, .6);
  transition: all .5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.nav__list-line {
  position: absolute;
  bottom: -8px;
  height: 1px;
  background-color: #fff; }

#navTop {
  margin-top: -16px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.section {
  background-position: center center;
  background-size: cover;
  text-align: center; }

.section__title {
  font-family: HollandOld;
  font-weight: 100;
  margin-top: 180px;
  font-size: 78px;
  font-size: 7.8rem;
  color: #fff;
  line-height: .8;
  margin-bottom: 0; }

.section__title-ja {
  color: #fff; }

.section__title-button {
  margin-top: 40px; }

.section__contents {
  background-color: #fff; }

.section__contents-inner {
  padding: 62px; }

.section__contents-title {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.6;
  margin: 0 0 46px 0; }

.section__contents-text {
  line-height: 2;
  margin-bottom: 64px; }

.section__top {
  position: relative;
  background-size: cover;
  text-align: center;
  background-image: url("../images/img_movie.jpg");
  background-position: 57%; }

.section__top-logo {
  width: 80%;
  transition: all 0.2s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.section__top-link {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 32px;
  height: 46px;
  transition: all 0.3s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  overflow: hidden; }

.section__top-next {
  position: relative;
  width: 32px;
  height: 56px;
  overflow: hidden; }

.section__top-arrow {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 12px;
  height: 36px; }

.section__concept {
  background-image: url("../images/bg_concept.jpg");
  background-position-x: 35%; }

.section__gallery {
  background-image: url("../images/bg_gallery.jpg");
  position: relative; }

.section__gallery .gallery__title .section__title {
  line-height: 1.2;
  margin-top: 110px; }

.section__gallery .scroll_arrow {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: all 0.3s;
  position: absolute;
  bottom: -40px;
  right: 8px;
  content: '';
  width: 70px;
  height: 18px;
  overflow: hidden;
  cursor: pointer; }

.section__gallery .scroll_arrow-right {
  position: absolute;
  width: 56px;
  height: 18px; }

.section__gallery .list-gallery {
  margin-left: -100px; }

.section__gallery .list-gallery__item {
  border: 8px solid #fff; }

.section__gallery .list-gallery__item:first-child {
  border: none; }

.section__style {
  background-image: url("../images/bg_style.jpg");
  background-position-x: 20%;
  position: relative; }

.section__style .style__title .section__title {
  line-height: 1.2;
  margin-top: 140px; }

.section__style .scroll_arrow {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: all 0.3s;
  position: absolute;
  bottom: -40px;
  right: 8px;
  content: '';
  width: 70px;
  height: 18px;
  overflow: hidden;
  cursor: pointer; }

.section__style .scroll_arrow-right {
  position: absolute;
  width: 56px;
  height: 18px; }

.section__style .list-article {
  background-color: #fff; }

.section__style .list-article__link {
  display: inline-block;
  transition: all .5s;
  color: #1a1a1a; }

.section__style .list-article__image {
  height: 210px;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.section__style .list-article__link:hover {
  transition: all .5s;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.section__style .list-article__contents {
  padding: 36px;
  min-height: 210px; }

.section__style .list-article__date {
  color: #b8b8b8; }

.section__style .list-article__title {
  line-height: 1.6; }

.section__style .swiper-wrapper {
  margin-left: -170px; }

.section__news {
  background-image: url("../images/bg_news.jpg");
  background-position-x: 30%; }

.section__news .list-news {
  min-height: 260px; }

.section__news .list-news__item {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e0e0e0; }

.section__news .list-news__item:last-child {
  border-bottom: none; }

.section__news .list-news__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: start;
  justify-content: flex-start;
  transition: all .3s;
  color: #1a1a1a; }

.section__news .list-news__link:hover {
  opacity: .8;
  transition: all .3s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.section__news .list-news__date {
  padding-right: 40px;
  font-size: 14px;
  font-size: 1.4rem; }

.section__news .list-news__title {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal; }

.section__news .list-news__text {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.8; }

.section__access {
  background-image: url("../images/bg_access.jpg");
  background-position-x: 15%; }

.section__access .section__contents {
  position: relative; }

.section__access .section__contents .scroll_arrow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all 0.3s;
  position: absolute;
  bottom: 24px;
  right: 16px;
  content: '';
  width: 18px;
  height: 56px;
  background-image: url("../images/img_scroll_arrow_black.png"); }

.section__access .list-access {
  padding: 0;
  max-height: 400px;
  overflow: scroll; }

.section__access .list-access__title {
  border-top: 1px solid #e0e0e0;
  width: 100px;
  margin: 0;
  padding: 20px 0 0;
  float: left;
  clear: left; }

.section__access .list-access__title:first-child {
  border: none;
  padding-top: 0; }

.section__access .list-access__desc {
  border-top: 1px solid #e0e0e0;
  margin-left: 100px;
  padding: 20px 0 20px 0; }

.section__access .list-access__desc:first-of-type {
  border: none;
  padding-top: 0; }

@media (min-width: 980px) {
  .section {
    text-align: left; }
  .section__title {
    font-size: 11.2rem;
    margin-top: 240px; }
  .section__top {
    background-image: none;
    text-align: center; }
  .section__top-logo {
    width: 630px; }
  .section__top-link {
    height: 76px; }
  .section__top-next {
    height: 76px; }
  .section__top-arrow {
    width: 18px;
    height: 56px; }
  .section__concept {
    background-position-x: center; }
  .section__gallery .gallery__title {
    position: absolute;
    left: 82px;
    z-index: 2; }
  .section__style {
    background-position-x: center; }
  .section__style .style__title {
    position: absolute;
    left: 82px;
    z-index: 2; }
  .section__news {
    background-position-x: center; }
  .section__access {
    background-position-x: center; } }

/* IE11 のみ適用される */
_:-ms-lang(x)::-ms-backdrop, .section__top .fp-scrollable {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

_:-ms-lang(x)::-ms-backdrop, .fullpage-wrapper {
  overflow-x: hidden; }

.single {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  color: #1a1a1a;
  font-size: 1.6rem;
  line-height: 2;}

.single__title {
  padding: 96px 0 64px;
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center; }

.single__date {
  margin-bottom: 28px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #8f8f8f; }
.single a {
  color: #1a1a1a;
  text-decoration: underline; }
.single h2 {
  margin: 40px 0;
  position: relative;
  font-size: 24px;
  font-size: 2.4rem; }

.single h2:before {
  position: absolute;
  top: 0;
  left: -24px;
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: #8f8f8f; }

.single h3 {
  margin: 32px 0;
  font-size: 22px;
  font-size: 2.2rem; }

.single h4 {
  margin: 16px 0;
  font-size: 18px;
  font-size: 1.8rem; }

.single p {
  margin: 0 0 32px 0;
  color: #1a1a1a;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2; }

.single ul {
  margin-bottom: 32px;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 16px;
  font-size: 1.6rem; }

.single ol {
  margin-bottom: 32px;
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 16px;
  font-size: 1.6rem; }

.single li {
  margin-bottom: 8px; }

.single blockquote {
  position: relative;
  margin: 0 0 32px 0;
  padding: 72px 32px 24px 32px;
  color: #1a1a1a;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
  background-color: #fff;
  line-height: 1.8; }

.single blockquote:before {
  display: inline-block;
  position: absolute;
  top: 32px;
  left: 32px;
  vertical-align: middle;
  content: url("../images/icon_quote.png"); }

.single .strong-box {
  margin-bottom: 32px;
  padding: 26px 32px;
  font-size: 16px;
  font-size: 1.6rem;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  background-color: #f0f0f0;
  line-height: 1.8; }

.single .strong-box--attention {
  background-color: #fffde7; }

@media (min-width: 980px) {
  .single {
    padding: 0 16px; }
  .single h2:before {
    left: -32px; } }

.slider-container {
  width: 100%;
  position: relative; }

.swiper-slide {
  /* Center slide text vertically */ }

.list-sns--top {
  display: none;
  position: fixed;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
  font-size: 1.2rem; }

.list-sns--top__item {
  margin-bottom: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.list-sns--top__item:last-child {
  padding: 0 2px; }

.list-sns--top__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }

.list-sns--top__link:hover + .list-sns__balloon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.list-sns--top__balloon {
  font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
  position: relative;
  margin-left: 16px;
  padding: 8px 16px;
  color: #fff;
  background-color: #333333;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all 0.3s; }

.list-sns--top__balloon:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 8px;
  left: -8px;
  border-right: 12px solid #333333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

@media (min-width: 980px) {
  .list-sns--top {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }

.list-sns {
  position: fixed;
  bottom: 16px;
  left: 24px;
  font-size: 12px;
  font-size: 1.2rem; }

.list-sns__item {
  margin-bottom: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.list-sns__item:last-child {
  margin-bottom: 0;
  padding: 0 2px; }

.list-sns__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #333; }

.list-sns__link:hover + .list-sns__balloon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.list-sns__balloon {
  font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
  position: relative;
  margin-left: 16px;
  padding: 8px 16px;
  color: #fff;
  background-color: #333333;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all 0.3s; }

.list-sns__balloon:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 8px;
  left: -8px;
  border-right: 12px solid #333333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.sp-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 32px;
  overflow: scroll;
  background-color: #fff; }

.sp-modal__wrap {
  width: 100%; }

.sp-modal__title {
  font-family: HollandOld;
  font-weight: 100;
  font-size: 78px;
  font-size: 7.8rem;
  color: #1a1a1a;
  line-height: .8;
  margin-bottom: 0; }

.sp-modal__title-ja {
  color: #1a1a1a;
  margin-bottom: 48px; }

.sp-modal__contents-title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 0 0 46px 0; }

.sp-modal__contents-text {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 64px; }

.sp-modal__list {
  padding: 0; }

.sp-modal__list-title {
  padding-bottom: 8px; }

.sp-modal__list-desc {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 16px;
  margin: 0 0 24px 0;
  line-height: 1.8; }

.sp-modal__list-desc:last-child {
  border: none;
  padding-top: 0; }

.sp-modal__close {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 24px;
  z-index: 1001;
  transition: .25s;
  color: #1a1a1a;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer; }

.sp-modal__close-link {
  position: relative;
  display: block;
  height: 20px;
  margin-bottom: 4px; }

.sp-modal__close-link span {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1a1a1a;
  transition: all .4s; }

.sp-modal__close-link span:nth-of-type(1) {
  top: 0;
  transform: translateY(9px) rotate(-45deg); }

.sp-modal__close-link span:nth-of-type(2) {
  top: 9px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.sp-modal__close-link span:nth-of-type(3) {
  bottom: 0;
  transform: translateY(-9px) rotate(45deg); }

.video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  display: inline-block;
  z-index: -100; }

video {
  position: absolute; }

@media (aspect-ratio: 16 / 9), (min-aspect-ratio: 16 / 9) {
  video {
    width: 100%;
    top: 50%;
    transform: translateY(-50%); } }

@media (max-aspect-ratio: 16 / 9) {
  video {
    height: 100%;
    left: 50%;
    transform: translateX(-50%); } }

.breadcrumb {
  font-size: 12px;
  font-size: 1.2rem; }

.breadcrumb__item {
  display: inline-block;
  margin-bottom: 8px; }

.breadcrumb__item:after {
  content: ">";
  display: inline-block;
  margin-left: 12px;
  margin-right: 4px; }

.breadcrumb__item:last-child:after {
  content: ""; }

.breadcrumb__link {
  color: #1a1a1a;
  transition: all .5s; }

.breadcrumb__link:hover {
  transition: all .5s;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.c-button {
  display: inline-block; }

.c-button__center {
  text-align: center; }

.c-button--black {
  width: 180px;
  padding: 18px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #333333;
  transition: all .3s;
  text-align: center;
  border-radius: 4px; }

.c-button--black:hover {
  background-color: rgba(51, 51, 51, .6);
  transition: all .3s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.c-button--white {
  width: 180px;
  padding: 18px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #1a1a1a;
  background-color: #fff;
  transition: all .3s;
  text-align: center;
  border-radius: 4px; }

.c-button--white:hover {
  background-color: rgba(255, 255, 255, .6);
  transition: all .3s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.c-button--window {
  position: relative; }

.c-button--window:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  margin: auto;
  background: url("../images/icon_window.png") no-repeat;
  background-size: contain;
  vertical-align: middle; }

@media (min-width: 641px) {
  .c-button--black {
    width: 240px;
    padding: 18px;
    font-size: 1.6rem; }
  .c-button--white {
    width: 240px;
    padding: 18px;
    font-size: 1.6rem; } }

/* header menu button */
.button-menu {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 24px;
  z-index: 999;
  transition: .25s;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer; }

.button-menu .button-menu__trigger {
  position: relative;
  display: block;
  height: 20px;
  margin-bottom: 4px;
  cursor: pointer; }

.button-menu .button-menu__trigger span {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .4s; }

.button-menu .button-menu__trigger span:nth-of-type(1) {
  top: 0; }

.button-menu .button-menu__trigger span:nth-of-type(2) {
  top: 9px; }

.button-menu .button-menu__trigger span:nth-of-type(3) {
  bottom: 0; }

.button-menu .button-menu__trigger.is-active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg); }

.button-menu .button-menu__trigger.is-active span:nth-of-type(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.button-menu .button-menu__trigger.is-active span:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg); }

.button-menu--single .button-menu__trigger span {
  background-color: #1a1a1a; }

.button-menu--single .button-menu__trigger.is-active span {
  background-color: #fff; }

.form__wrap {
  margin-bottom: 100px; }

.form__group {
  margin-bottom: 32px;
  font-weight: bold;}

.form__group input,
.form__group textarea {
  font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho", "Droid Sans", serif;
  color: #8f8f8f;
  width: 100%;
  margin-top: 8px;
  padding: 8px 12px;
  letter-spacing: .1em;
  border: 1px solid #e0e0e0; }

.form__group textarea {
  border: 1px solid #e0e0e0;
  height: 120px; }

.form--full input,
.form--full textarea {
  width: 100%; }

.form__confirm {
  margin-bottom: 24px;
  text-align: center;
  font-size: 1.4rem; }

.form__confirm input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__confirm label input[type="checkbox"]+span {
  position: relative;
  padding: 0 30px 0 35px;
}

.form__confirm label input[type="checkbox"]+span::before {
  border-color: #333333;
  background-color: #333333;
}

.form__confirm label input[type="checkbox"]:checked+span::before {
  border-color: #333333;
  background-color: #333333;
}

.form__confirm label span {
  display: inline-block;
}

.form__confirm label input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form__confirm label input[type="checkbox"]+span::before,
.form__confirm label input[type="checkbox"]+span::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: '';
  box-sizing: border-box;
}

.form__confirm label input[type="checkbox"]+span::before {
  z-index: 0;
  background-color: #eff1f4;
  border: solid 4px #eff1f4;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  border-radius: 2px;
  transition-duration: .4s;
}

.form__confirm label input[type="checkbox"]+span::after {
  z-index: 1;
  margin: 9px 6px;
  width: 4px;
  height: 8px;
}
.form__confirm label input[type="checkbox"]:checked+span::after {
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__btn {
  text-align: center; }

.form__btn input[type="submit"]{
  font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho", "Droid Sans", serif; }

form div.wpcf7-validation-errors,
form div.wpcf7-acceptance-missing {
  border: none;
  color: #f00; }

form div.wpcf7-mail-sent-ok {
  border: none; }

@media (min-width: 1140px) {
  .button-menu {
    display: none; } }

.c-grid {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

.c-grid__col {
  width: 100%; }

@media (min-width: 980px) {
  .form__group input {
    width: 50%; }
  .form--full input,
  .form--full textarea {
    width: 100%; }
  .c-grid {
    padding: 64px 82px; }
  .c-grid__col {
    width: 50%;
    padding: 32px 0; } }

.slidein {
  width: 0;
  overflow: hidden; }

.slidein .slideInLeftInner {
  margin: 0 auto;
  text-align: center; }

@media (min-width: 980px) {
  .slidein .slideInLeftInner {
    text-align: left;
    margin: 0; } }

.u-disp--sp_inline {
  display: inline; }

@media (min-width: 641px) {
  .u-disp--sp_inline {
    display: none; } }

@media (min-width: 980px) {
  .u-disp--sp_inline {
    display: none; } }

@media (min-width: 1140px) {
  .u-disp--sp_inline {
    display: none; } }

@media (min-width: 1200px) {
  .u-disp--sp_inline {
    display: none; } }

.u-disp--sp {
  display: block; }

@media (min-width: 641px) {
  .u-disp--sp {
    display: none; } }

@media (min-width: 980px) {
  .u-disp--sp {
    display: none; } }

@media (min-width: 1140px) {
  .u-disp--sp {
    display: none; } }

@media (min-width: 1200px) {
  .u-disp--sp {
    display: none; } }

.u-disp--tablet {
  display: block; }

@media (min-width: 641px) {
  .u-disp--tablet {
    display: block; } }

@media (min-width: 980px) {
  .u-disp--tablet {
    display: none; } }

@media (min-width: 1140px) {
  .u-disp--tablet {
    display: none; } }

@media (min-width: 1200px) {
  .u-disp--tablet {
    display: none; } }

.u-disp--tablet_inline-block {
  display: inline-block; }

@media (min-width: 641px) {
  .u-disp--tablet_inline-block {
    display: inline-block; } }

@media (min-width: 980px) {
  .u-disp--tablet_inline-block {
    display: none; } }

@media (min-width: 1140px) {
  .u-disp--tablet_inline-block {
    display: none; } }

@media (min-width: 1200px) {
  .u-disp--tablet_inline-block {
    display: none; } }

.u-disp--pc {
  display: none; }

@media (min-width: 641px) {
  .u-disp--pc {
    display: none; } }

@media (min-width: 980px) {
  .u-disp--pc {
    display: block; } }

@media (min-width: 1140px) {
  .u-disp--pc {
    display: block; } }

@media (min-width: 1200px) {
  .u-disp--pc {
    display: block; } }

.u-disp--wide {
  display: none; }

@media (min-width: 641px) {
  .u-disp--wide {
    display: none; } }

@media (min-width: 980px) {
  .u-disp--wide {
    display: none; } }

@media (min-width: 1140px) {
  .u-disp--wide {
    display: block; } }

@media (min-width: 1200px) {
  .u-disp--wide {
    display: block; } }

.u-disp--full {
  display: none; }

@media (min-width: 641px) {
  .u-disp--full {
    display: none; } }

@media (min-width: 980px) {
  .u-disp--full {
    display: none; } }

@media (min-width: 1140px) {
  .u-disp--full {
    display: none; } }

@media (min-width: 1200px) {
  .u-disp--full {
    display: block; } }

.pager-number {
  text-align: center; }

.pager__list {
  display: flex;
  align-items: center;
  justify-content: center; }

.pager__list-item {
  display: inline-block;
  padding: 0 8px; }

.pager__list-item a {
  font-size: 14px;
  font-family: "Hiragino Mincho Pro";
  color: rgb(143, 143, 143);
  line-height: 1.571;
  text-align: center; }

.pager__list-item .current {
  color: rgb(26, 26, 26); }


/*404*/
.page-error {
  text-align: center;
  padding: 0 16px 48px 16px;
}

.page-error__title {
  font-size: 24px;
  font-weight: bold;
  margin: 48px 0;
}

.page-error__text a {
  color: #1a1a1a;
  text-decoration: underline;
}

/*TOP movie*/
.movie {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  display: inline-block;
  z-index: -100;
}
.movie video {
  position: absolute;
}
@media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*reCAPTCHA*/
.grecaptcha-badge { visibility: hidden; }

/*# sourceMappingURL=common.css.map */
